@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "WritingObjects";
  src: url("/assets/fonts/WritingObjects-Regular.woff") format("woff");
}
@font-face {
  font-family: "IBMMonoBoldItalic";
  src: url("/assets/fonts/IBMPlexMono-BoldItalic.ttf");
}
@font-face {
  font-family: "IBMMonoBold";
  src: url("/assets/fonts/IBMPlexMono-Bold.ttf");
}
@font-face {
  font-family: "IBMMonoRegular";
  src: url("/assets/fonts/IBMPlexMono-Regular.ttf");
}

body {
 
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .section-padding {
    @apply py-8
  }
}
.hide_scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  overscroll-behavior-y: contain;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
  
}


.range-custom {
  -webkit-appearance: none;
  appearance: none; 
  cursor: pointer;
  outline: none;
  border-radius: 0px;
  height: 100%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  
}

.range-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  cursor: pointer;
  outline: none;
  border-radius: 0px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
}

.range-custom::-moz-range-thumb {
  /* display: none; */
  -webkit-appearance: none;
  appearance: none; 
  cursor: pointer;
  outline: none;
  border-radius: 0px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

}
/* WebKit styles */
progress[value]::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);

}

progress[value]::-webkit-progress-value {
  background-color: #EC6735;
}
/* Firefox styles */
progress[value]::-moz-progress-bar {
  background-color: rgb(255, 255, 255);
}



/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
